#body {
    margin: 0;
    padding: 0;
    background-color: rgb(156, 156, 156);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 3em;
    text-align: center;
}
h2 {
    font-size: 3em;
    text-align: center;
}
h3 {
    font-size: 6em;
    text-align: center;
    margin: 10px 0;
}
#userLocation {
    height: 38px;
    border-radius: 10px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 800;
    text-align: center;
}
#submit {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 16px;
    padding-right: 16px;
    color: aliceblue;
    font-weight: 800;
    border: 0;
    background-size: 200% auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    transition: 0.5s;
}

 #submit:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 #day-select {
    height: 38px;
    width: 76px;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
    font-weight: 800;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 

 }
#formResult {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    color: black;
}
#formResult div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    color: black;
}

#formResult img {
    display: flex;
    height: 60px;
    width: auto;
    margin-top: 20px;
}

#date {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 2em;
    font-weight:bolder ;    
    color: rgb(20, 17, 17);
}

#weather_icone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

#weather_icone img {
    height: 250px;
    width: auto;
}
.container {
    display: flex;
    margin: 0, auto ;
    text-align: center;
    align-items: center;
    justify-content: center;
}

